/* src/content.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.my-extension{
    padding: 20px;
}

.my-extension h1{
    color: #000;
}

.InputAddOn {
    display: flex;
}
  
.InputAddOn-item{
    width: 85px;
    background-color: hsla(31,15%,50%,.1);
    color: #666;
    font: inherit;
    font-weight: 400;
    border: 1px solid hsla(31,15%,50%,.25);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.form-control {
    flex: 1;
    border: 1px solid hsla(31,15%,50%,.25);
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    /* field styles */
}
.import-profile{
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100px;
    font-size: 15px;
    padding: 5px;
}
.create-dark-profile-btn{
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 100px;
    outline-width: 2px;
    font-size: 20px;
}

header{
    background-color: #00acb9;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    padding: 10px;
    text-align: center;
}

.message_box{
    background-color: #9fd29f;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 8px;
    margin-bottom: 15px;
    line-height: 25px;
}

.accordion {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
  .accordion .accordion-item:first-child .title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .accordion .accordion-item:last-child .title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .accordion .accordion-item .title {
    background-color: #f6f6f6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion .accordion-item .title:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  .accordion .accordion-item .panel {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  .accordion .accordion-item.active .title {
    background-color: #eeeeee;
  }
  .accordion .accordion-item.active .title:after {
    content: '\2796';
    /* Unicode character for "minus" sign (-) */
  }
  .accordion .accordion-item.active .panel {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

#my-extension-root table {
    border-collapse: collapse;
    width: 100%;
}

#my-extension-root th,#my-extension-root td {
    text-align: left;
    padding: 8px;
}

#my-extension-root tr:nth-child(even){
    background-color: #f2f2f2
}

#my-extension-root th {
    background-color: #4CAF50;
    color: white;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }