body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#my-extension-root{
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
}

#my-extension-root iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.accordion {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
.accordion .accordion-item:first-child .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.accordion .accordion-item:last-child .title {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordion .accordion-item .title {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #97c3c3;
  color: white;
  font-size: 18px;
}
.accordion .accordion-item .title:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.accordion .accordion-item .panel {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.accordion .accordion-item.active .title {
  background-color: #97c3c3;
}
.accordion .accordion-item.active .title:after {
  content: '\2796';
  /* Unicode character for "minus" sign (-) */
}
.accordion .accordion-item.active .panel {
  max-height: 500px;
  overflow: scroll;
  transition: max-height 0.25s ease-in;
}

#my-extension-root table {
  border-collapse: collapse;
  width: 100%;
}

#my-extension-root th,#my-extension-root td {
  text-align: left;
  padding: 8px;
}

#my-extension-root tr:nth-child(even){
  background-color: #f2f2f2
}

#my-extension-root th {
  background-color: #4CAF50;
  color: white;
}

.back-wrapper{
  background-color: darkcyan;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.company-data tr td{
  width: 50%;
}